// THEME COLORS
$primary   = #3dce97
$primary_light = #53f5ba
$secondary = #424356
$secondary_dark = #323342
$secondary_light  = #53556f
$secondary_mega_light = #b1b3c6
$secondary_ultra_light = #ecf2f6

// SIGNAL COLORS
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037
